/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonts */
@font-face {
    font-family: 'ostrich-sans';
    src: url('../Fonts/ostrich-sans/OstrichSans-Black.otf') format('otf'),
         url('../Fonts/ostrich-sans/OstrichSans-Heavy.otf') format('otf'),
         url('../Fonts/ostrich-sans/OstrichSans-Light.otf') format('otf'),
         url('../Fonts/ostrich-sans/OstrichSans-Medium.otf') format('otf'),
         url('../Fonts/ostrich-sans/OstrichSansRounded-Medium.otf') format('otf'),
         url('../Fonts/ostrich-sans/ostrich-regular.ttf') format('truetype');
         font-style: normal;
         font-weight: normal;
}

@font-face {
    font-family: 'Gotu';
    src: url('../Fonts/Gotu/Gotu-Regular.ttf') format('truetype');
         font-style: normal;
         font-weight: normal;
}

/* Body */
body{
    font-family: 'ostrich-sans', 'Gotu', 'FS Joey Web Light','FS Joey Web Regular',sans-serif;
}

/* Anchor */
a{
    text-decoration: none;
}

/* Heading */
h1{
    /* font-family: 'ostrich-sans'; */
    font-weight: normal;
    font-size: 55px;
    margin: 30px;
    letter-spacing: 1px;
}
@media only screen and (max-width: 600px){
    h1{
        font-size: 45px;
    }
}
h2{
    /* font-family: 'ostrich-sans'; */
    font-weight: lighter;
    font-size: 35px;
    margin: 25px;
    margin: 30px;
    letter-spacing: 2px;
}
@media only screen and (max-width: 600px){
    h2{
        font-size: 25px;
    }
}
h3{
    /* font-family: 'ostrich-sans'; */
    font-weight: lighter;
    font-size: 25px;
    margin: 20px;
    letter-spacing: 3px;
}
@media only screen and (max-width: 600px){
    h3{
        font-size: 20px;
    }
}

p{
    margin: 10px 0px;
}

/* Header */
header{
    display: flex;
	flex-direction: column;
	justify-content: center;
}
@media only screen and (max-width: 600px){
    header{
        justify-content: flex-start;
    }
}
.header{
	z-index: 1;
	position: absolute;
	background-color: whitesmoke;
	width: 15%;
    opacity: 0.8;
    padding: 0px 50px;
}
@media only screen and (min-width: 900px) and (max-width: 1100px){
    .header{
        padding: 0px 40px;
    }
}
@media only screen and (min-width: 600px) and (max-width: 900px){
    .header{
        padding: 0px 30px;
    }
}
@media only screen and (max-width: 600px){
    .header{
        width: 20%;
        padding: 0px 20px;
        margin-top: 40px;
    }
}
.header .logo img{
    width: 100%;
}

/* Banner Image */
.banner-image-1, 
.banner-image-2, 
.banner-image-3, 
.banner-image-jasmine, 
.banner-image-ridhima, 
.banner-image-rohan{
	min-height: 730px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.banner-image-1{
    background-image: url(../Gallery/Banners/Banner1.jpg);
}

.banner-image-2{
    background-image: url(../Gallery/Banners/Banner2.jpg);
}

.banner-image-3{
    background-image: url(../Gallery/Disha-Sanchit/Wedding\ -\ 1.jpg);
}

.banner-image-jasmine{
    background-image: url(../Gallery/Banners/jasmine-getting-ready.jpg);
}

.banner-image-ridhima{
    background-image: url(../Gallery/Banners/ridhima-getting-ready.jpg);
}

.banner-image-rohan{
    background-image: url(../Gallery/Banners/rohan-cocktail.jpg);
}

hr{
    width: 80px;
	margin-bottom: 40px;
    align-self: center;
}

.gallery-title{
    display: flex;
	flex-flow: column;
    text-align: center;
    padding: 20px 0px 0px 0px;
}

.visually-hidden {
    display: none;
}

/* Header */
.container{
    display: flex;
	flex-direction: column;
}

.header-content{
    position: absolute;
	color: whitesmoke;
	align-self: center;
	padding: 225px 40px;
	text-align: center;
	display: flex;
    flex-direction: column;
    z-index: 1;
}
@media only screen and (max-width: 500px) {
    .header-content{
        padding: 150px 40px;
    }
}

.image-content{
    text-align: start !important;
    width: 80%;
    padding: 300px 40px 0px 20px !important;
    align-self: start !important;
}
@media only screen and (max-width: 600px) {
    .image-content{
        width: 100%;
    }
}

.header-content .title{
    font-size: 85px;
    letter-spacing: 2px;
}
@media only screen and (min-width: 500px) and (max-width: 700px) {
    .header-content .title{
        font-size: 70px;
    }
}
@media only screen and (max-width: 500px) {
    .header-content .title{
        font-size: 60px;
    }
}

.header-content .subtitle{
    margin: 0px;
    font-size: 40px;
    font-family: 'Gotu';
    font-weight: lighter;
    letter-spacing: 2px;
}
@media only screen and (min-width: 500px) and (max-width: 700px) {
    .header-content .subtitle{
        font-size: 35px;
    }
}
@media only screen and (max-width: 500px) {
    .header-content .subtitle{
        font-size: 25px;
    }
}

.image-content .subtitle{
    font-size: 35px !important;
}
@media only screen and (max-width: 700px) {
    .image-content .subtitle{
        font-size: 25px !important;
    }
}

.header-content .caption{
    margin: 10px 0px;
    font-size: 22px;
    font-family: 'Gotu';
    font-weight: lighter;
	letter-spacing: 1px;
}
@media only screen and (min-width: 500px) and (max-width: 700px) {
    .header-content .caption{
        font-size: 17px;
    }
}
@media only screen and (max-width: 500px) {
    .header-content .caption{
        font-size: 13px;
    }
}

/* Section */
section.intro{
    text-align: center;
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    background-color: gainsboro;
    padding: 60px;
}
@media only screen and (min-width: 700px) and (max-width: 900px) {
    section.intro{
        padding: 40px;
    }
}
@media only screen and (min-width: 500px) and (max-width: 700px) {
    section.intro{
        padding: 30px;
        flex-direction: column-reverse;
    }
}
@media only screen and (max-width: 500px) {
    section.intro{
        padding: 30px 0px;
        flex-direction: column-reverse;
    }
}

section.intro h1{
    font-family: inherit;
    margin: 20px 0px;
}

section.intro p{
    margin: 0 0 10px 0;
	padding: 0 50px;
	font-size: 15px;
	color: #403f3f;
	line-height: 1.5;
	font-family: 'quicksand';
	text-align: center;
}
@media only screen and (max-width: 900px) {
    section.intro p{
        font-size: 13px;
    }
}

section.intro div.content{
	display: flex;
    flex-direction: column;
    width: 50%;
	padding: 45px 0px;
	background-color: white;
}
@media only screen and (max-width: 700px) {
    section.intro div.content{
        width: 100%;
    }
}

section.intro img{
	object-fit: cover;
    width: 50%;
    max-height: 550px;
}
@media only screen and (max-width: 700px) {
    section.intro img{
        margin-bottom: -40px;
        align-self: center;
        height: 220px;
    }
}

section.galleries{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    padding: 30px 90px 30px 90px;
}
@media only screen and (min-width: 600px) and (max-width: 900px) {
    section.galleries{
        padding: 15px 30px 15px 30px;
    }
}
@media only screen and (max-width: 600px) {
    section.galleries{
        padding: 20px;
        flex-flow: wrap;
    }
}

section.galleries .gallery h3{
    color: white;
}

section.galleries .gallery{
	background-color: #505050;
    margin: 0px 10px 40px 10px;
    text-align: center;
    width: 100%;
}

section.galleries .gallery .images img:hover{
    opacity: 0.8;
    cursor: crosshair;
}

section.galleries .gallery .images img{
    width: 100%;
    height: 100%;
}

/* Gallery Grid */
section.grid{
    padding: 0px 8px 8px 8px;
}

.grid .gallery{
    display: grid;
	grid-template-columns: repeat(16, 1fr);
	grid-template-rows: repeat(11, 5vw);
    grid-gap: 8px;
    margin-top: 8px;
}

.grid img{
    width: 100%;
	height: 100%;
	object-fit: cover;
}

.grid img:hover{
    opacity: 0.8;
    cursor: crosshair;
}

.gallery__item--1 {
	grid-column-start: 1;
	grid-column-end: 7;
	grid-row-start: 1;
	grid-row-end: 6;
}

.gallery__item--2 {
	grid-column-start: 7;
	grid-column-end: 12;
	grid-row-start: 1;
	grid-row-end: 5;
}

.gallery__item--3 {
	grid-column-start: 12;
	grid-column-end: 17;
	grid-row-start: 1;
	grid-row-end: 8;
}

.gallery__item--4 {
	grid-column-start: 1;
	grid-column-end: 7;
	grid-row-start: 6;
	grid-row-end: 12;
}

.gallery__item--5 {
	grid-column-start: 7;
	grid-column-end: 12;
	grid-row-start: 5;
	grid-row-end: 12;
}

.gallery__item--6 {
	grid-column-start: 12;
	grid-column-end: 17;
	grid-row-start: 8;
	grid-row-end: 12;
}

/* Section separation image */
.section-separation-image{
    min-height: 500px;
}

/* Contact Us Form */
.contact-us-title{
    display: flex;
	flex-flow: column;
    text-align: center;
    padding: 20px 0px 0px 0px;
}

section.contact-us{
	display: flex;
	flex-direction: row;
}

.contact-us-form{
    width: 50%;
    padding: 0px 40px 40px 40px;
}
@media only screen and (min-width: 500px) and (max-width: 800px) {
    .contact-us-form{
        width: 100%;
        padding: 0px 80px 40px 80px;
    }
}
@media only screen and (max-width: 500px) {
    .contact-us-form{
        width: 100%;
        padding: 0px 40px 40px 40px;
    }
}

form{
    display: flex;
	flex-direction: column;
}

form div.input-field{
    margin: 10px 0px;
	flex-direction: column;
	display: flex;
	text-align: left;
}

form label{
    font-size: 15px;
	font-family: 'Gotu';
	opacity: 0.7;
}

form input{
    font-family: 'Gotu';
	font-size: 13px;
	-webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 5px;
	border-width: 1px;
	background-color: transparent;
	box-sizing: border-box !important;
	color: #000000;
	border-style: solid;
	border-color: rgba(145, 145, 145, 1);
	padding: 3px;
	margin: 10px 0px;
	max-width: 100%;
    text-overflow: ellipsis;
    padding: 10px;
    display: block;
	width: 70%;
}

form select{
    font-family: 'Gotu';
	font-size: 13px;
	-webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 5px;
	background-color: rgba(255, 255, 255, 1);
	color: #000000;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(145, 145, 145, 1);
	margin: 10px 0px;
	padding: 0 45px;
	cursor: pointer;
	position: relative;
	max-width: 100%;
	min-height: 10px;
	height: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
    display: block;
	width: 70%;
    padding: 10px;
}

.dropdown {
    position: relative;
}

.dropdown::after {
    content: "";
	position: absolute;
	left: 65%;
	top: 65%;
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #333;
}
@media only screen and (max-width: 500px){
    .dropdown::after{
        top: 75%;
    }
}

form textarea{
    min-height: 150px;
    padding: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 5px;
	font: 'Gotu';
	border-width: 1px;
	resize: none;
	background-color: rgba(255, 255, 255, 1);
	box-sizing: border-box !important;
	color: #000000;
	border-style: solid;
	border-color: rgba(145, 145, 145, 1);
	margin: 10px 0px;
	padding-top: 0.75em;
	max-width: 100%;
	min-width: 100%;
    overflow-y: auto;
    display: block;
	width: 70%;
}

form p.caption{
    margin: 0px 0px 10px 0px;
	font-family: 'Gotu';
	font-size: 10px;
	opacity: 0.7;
}

form button{
    padding: 12px 50px;
    color: white;
    background-color: rgb(46, 79, 79);
	border: solid rgba(255, 255, 255, 1) 1px;
	cursor: pointer !important;
	text-align: center;
	border-radius: 20px;
    max-width: fit-content;
	transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
}

.contact-us-image{
    width: 50%;
}
@media only screen and (max-width: 800px){
    .contact-us-image{
        display: none;
    }
}

.contact-us-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media only screen and (max-width: 800px) {
    .contact-us-image img{
        display: none;
    }
}

/* Section Before Footer */
section.before-footer {
    display: flex;
    flex-direction: row;
    background-color: darkslategray;
    color: whitesmoke;
}

section.before-footer .menu {
    width: 40%;
	padding: 20px;
	display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-right: 1px whitesmoke solid;
}

section.before-footer .menu a{
    font-family: 'ostrich-sans';
	font-size: 19px;
	font-weight: normal;
	letter-spacing: 2px;
    color: whitesmoke;
    line-height: 2.5;
    border-bottom: 1px whitesmoke dotted;
	width: 30%;
}
@media only screen and (min-width: 540px) and (max-width: 600px){
    section.before-footer .menu a{
        font-size: 16px;
        width: 40%;
        line-height: 2.2;
        letter-spacing: 1px;
    }
}
@media only screen and (max-width: 540px){
    section.before-footer .menu a{
        font-size: 16px;
        width: 40%;
        line-height: 2.2;
        letter-spacing: 1px;
    }
}

section.before-footer .features {
    width: 100%;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.features .logos{
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    padding: 10px 0px;
    max-width: 90%;
    margin-right: 10px;
}
@media only screen and (max-width: 500px){
    .features .logos {
        max-width: 100%;
    }
}

.features .logos img{
    width: 75px;
	height: auto;
	margin-left: 10px;
    margin-bottom: 10px;
    border: 1px whitesmoke solid;
	border-radius: 50px;
}
@media only screen and (max-width: 600px){
    .features .logos img{
        width: 60px;
    }
}

/* Footer */
footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer .social-media-icons{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

footer .social-media-icons a{
    margin-right: 10px;
}

footer .social-media-icons img{
    height: 40px;
    width: 40px;
}

footer .social-media-icons img.email-icon{
    height: 30px;
    width: 30px;
    margin-top: 5px;
    margin-left: 4px;
}

footer .copyright{
    margin-left: auto;
	margin-right: auto;
	width: 50%;
	display: block;
    border-top:  darkgrey 1px solid;
    font-family: 'quicksand';
    font-size: 16px;
    padding-top: 15px;
    text-align: center
}

/* ALERT RELATED CLASS (START) */

.alert-area {
    max-height: 100%;
    position: relative;
    width: 100%;
    margin: 20px 0px;
  }
  @media only screen and (max-width: 800px){
    .alert-area{
        width: 70%;
    }
  }
  
  .alert-box {
    color: white;
    background: rgba(0, 0, 0, 0.9);
    line-height: 1.3em;
    padding: 10px 15px;
    position: relative;
    border-radius: 5px;
    transition: opacity 0.5s ease-in;
    font-family: 'Guto';
    font-size: 16px;
    text-align: center;
  }
  
  .alert-box.hide {
    opacity: 0;
  }
  
  .alert-close {
    background: transparent;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 15px;
    right: 15px;
  }
  
  .alert-close:before,
  .alert-close:after {
    content: '';
    width: 15px;
    border-top: solid 2px white;
    position: absolute;
    top: 5px;
    right: -1px;
    display: block;
  }
  
  .alert-close:before {
    transform: rotate(45deg);
  }
  
  .alert-close:after {
    transform: rotate(135deg);
  }
  
  .alert-close:hover:before,
  .alert-close:hover:after {
    border-top: solid 2px #d8d8d8;
  }
  
  /* ALERT RELATED CLASS (END) */