<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %} {% endblock %}
    </head>
    <body>
        <div id="snackbar">A new version of this app is available. Click <a id="reload">here</a> to update.</div>
        {% block content %} {% endblock %}
        {% include "./partials/_footer.njk" %}
        {% include "./partials/_scroll-to-top.njk" %}
    </body>
</html>