<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %} {% endblock %}
        <script>
            // make the whole serviceworker process into a promise so later on we can
            // listen to it and in case new content is available a notification will be shown
            window.isUpdateAvailable = new Promise(function(resolve, reject) {
                // lazy way of disabling service workers while developing
                if ('serviceWorker' in navigator) {
                    // register service worker file
                    navigator.serviceWorker.register('/serviceworker.js')
                    .then(reg => {
                        // Registration was successful
                        console.log('ServiceWorker registration successful with scope: ', reg.scope);
                        reg.onupdatefound = () => {
                            const installingWorker = reg.installing;
                            installingWorker.onstatechange = () => {
                                switch (installingWorker.state) {
                                    case 'installed':
                                        if (navigator.serviceWorker.controller) {
                                            // new update available
                                            resolve(true);
                                        } else {
                                            // no update available
                                            resolve(false);
                                        }
                                        break;
                                }
                            };
                        };
                    })
                    .catch(err => console.error('[SW ERROR]', err));
                }
            });
        </script>
    </head>
    <body>
        <div id="snackbar">A new version of this app is available. <a id="reload">Refresh</a></div>
        {% block content %} {% endblock %}
        {% include "./partials/_footer.njk" %}
        {% include "./partials/_scroll-to-top.njk" %}
        <script>
            // listen to the service worker promise in index.html to see if there has been a new update.
            // condition: the service-worker.js needs to have some kind of change - e.g. increment CACHE_VERSION.
            window['isUpdateAvailable']
            .then(isAvailable => {
                if (isAvailable) {
                    // new update available
                    let snackbar = document.getElementById('snackbar');
                    snackbar.className = 'show';
                }
            });

            // The click event on the pop up notification
            document.getElementById('reload').addEventListener('click', function(){
                window.location.reload();
            });
        </script>
    </body>
</html>