<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %} {% endblock %}
    </head>
    <body>
        <div id="notification">A new version of this app is available. Click <a id="reload">here</a> to update.</div>
        {% block content %} {% endblock %}
        {% include "./partials/_footer.njk" %}
        {% include "./partials/_scroll-to-top.njk" %}
    </body>
    <!-- Registering a service worker -->
    <script>
        let newWorker;
        // The click event on the notification
        document.getElementById('reload').addEventListener('click', function(){
            newWorker.postMessage({ action: 'skipWaiting' });
        });

        if ('serviceWorker' in navigator) {
            window.addEventListener('load', function() {
                // Register the service worker
                navigator.serviceWorker.register('/service-worker.js').then(reg => {
                    reg.addEventListener('updatefound', () => {
                        // An updated service worker has appeared in reg.installing!
                        newWorker = reg.installing;
                        newWorker.addEventListener('statechange', () => {
                            // Has service worker state changed?
                            switch (newWorker.state) {
                                case 'installed':
                                // There is a new service worker available, show the notification
                                if (navigator.serviceWorker.controller) {
                                    let notification = document.getElementById('notification ');
                                    notification .className = 'show';
                                }
                                break;
                            }
                        });
                    });
                    // Registration was successful
                    console.log('ServiceWorker registration successful with scope: ', registration.scope);
                }, function(err) {
                    // registration failed :(
                    console.log('ServiceWorker registration failed: ', err);
                });
            });
        }

        let refreshing;
        // The event listener that is fired when the service worker updates
        // Here we reload the page
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.addEventListener('controllerchange', function () {
                if (refreshing) return;
                window.location.reload();
                refreshing = true;
            });
        }
    </script>
</html>