{% extends 'layout.njk' %}

{% block content %}
    <div class="about-us-content">
        <h2>Wish you were here.</h2>
        <p>Sorry, we couldn't find the page you were looking for.</p>
        <p>If there is a problem please <a href="/#contact-us?from=404-button">Contact us</a></p>
    </div>
{% endblock %}