{% extends "layout.njk" -%}
{% set image_defaultpath = "assets/images" -%}
{% set pageName = "home" -%}

{% import '../templates/macros/head.njk' as head -%}
{% import '../templates/macros/navigation.njk' as nav -%}
{% import '../templates/macros/gallery.njk' as pictures -%}
{% import '../templates/macros/footer-logo.njk' as footerlogo -%}

{% block head -%}
    {{head.render(pageName)}}
{%- endblock %}

{% block content -%}
    {{nav.active(pageName)}}
    <header>
        <div class="container">
            <div class="header-content">
                <h1 class="title">The Dewdrop Project</h1><hr>
                <p class="subtitle">Wedding Photographers</p>
                <p class="caption">Capturing moments since 2015</p>
            </div>
        </div>
        <div class="slideshow-container" class="visually-hidden">
            <div class="mySlides fade">
                <div class="banner-image-ridhima"></div>
            </div>
            <div class="mySlides fade">
                <div class="banner-image-rohan"></div>
            </div>
            <div class="mySlides fade">
                <div class="banner-image-jasmine"></div>
            </div>
        </div>
    </header>
    <div id="portfolio" class="gallery-title">
        <h1>Portfolio</h1>
        <hr/>
    </div>
    <section class="loading-images">
        <img src="{{image_defaultpath}}/Icons/loading-images.gif" alt="loading-images-gif">
    </section>
    <section class="grid visually-hidden">
        {% for gallery in galleries %}
            <div class="gallery">
                {% for image in gallery.images %}
                    {{ pictures.render(image.src,loop.index) }}
                {% endfor %}
            </div>
        {% endfor %}
    </section>
    <div class="container">
        <div class="banner-image-3 section-separation-image"></div>
        <div class="header-content image-content">
            <p class="subtitle">"Capturing the moments of today to wow your heart tomorrow"</p>
        </div>
    </div>
    {% include "./partials/_contact.njk" %}
    <section class="before-footer">
        <div class="features">
            <h2>We have been featured on</h2>
            <hr/>
            <div class="logos">
            {% for logo in logos %}
                    {{ footerlogo.render(logo.src,logo.alt) }}
            {% endfor %}
            </div>
        </div>
    </section>
{%- endblock %}