{% extends "layout.njk" -%}
{% set image_defaultpath = "assets/images" -%}
{% set pageName = "home" -%}

{% import '../templates/macros/head.njk' as head -%}
{% import '../templates/macros/navigation.njk' as nav -%}
{% import '../templates/macros/gallery.njk' as pictures -%}


{% block head -%}
    {{head.render(pageName)}}
{%- endblock %}

{% block content -%}
    {{nav.active(pageName)}}
    <header>
        <div class="container">
            <div class="header-content">
                <h1 class="title">The Dewdrop Project</h1><hr>
                <p class="subtitle">Wedding Photographers</p>
                <p class="caption">Capturing moments since 2015</p>
            </div>
        </div>
        <div class="slideshow-container" class="visually-hidden">
            <div class="mySlides fade">
                <div class="banner-image-ridhima"></div>
            </div>
            <div class="mySlides fade">
                <div class="banner-image-rohan"></div>
            </div>
            <div class="mySlides fade">
                <div class="banner-image-jasmine"></div>
            </div>
        </div>
    </header>
    <div id="portfolio" class="gallery-title">
        <h1>Portfolio</h1>
        <hr/>
    </div>
    <section class="loading-images"><img src="{{image_defaultpath}}/Icons/loading-images.gif"></section>
    <section class="grid visually-hidden">
        {% for gallery in galleries %}
            <div class="gallery">
                {% for image in gallery.images %}
                    {{ pictures.render(image.src,loop.index) }}
                {% endfor %}
            </div>
        {% endfor %}
    </section>
    <div class="container">
        <div class="banner-image-3 section-separation-image"></div>
        <div class="header-content image-content">
            <p class="subtitle">"Capturing the moments of today to wow your heart tomorrow"</p>
        </div>
    </div>
    {% include "./partials/_contact.njk" %}
    <section class="before-footer">
        <div class="features">
            <h2>We have been featured on</h2>
            <hr/>
            <div class="logos">
                <img src="{{image_defaultpath}}/Icons/weddingsutra-logo.png" alt="weddingsutra-logo">
                <img src="{{image_defaultpath}}/Icons/bridalaffairindia-logo.png" alt="bridalaffair-india-logo">
                <img src="{{image_defaultpath}}/Icons/zowed-logo.png" alt="zowed-logo">
                <img src="{{image_defaultpath}}/Icons/wedabout-logo.png" alt="wedabout-logo">
                <img src="{{image_defaultpath}}/Icons/wedzo-logo.jpeg" alt="wedzo-logo">
                <img src="{{image_defaultpath}}/Icons/fabweddings-logo.jpeg" alt="fabweddings-logo">
                <img src="{{image_defaultpath}}/Icons/weddingzin-logo.jpeg" alt="weddingzin-logo">
                <img src="{{image_defaultpath}}/Icons/shaadiwish-logo.jpeg" alt="shaadiwish-logo">
                <img src="{{image_defaultpath}}/Icons/weddingplz-logo.jpeg" alt="wedding-plz-logo">
                <img src="{{image_defaultpath}}/Icons/wittyvows-logo.jpeg" alt="wittyvows-logo">
                <img src="{{image_defaultpath}}/Icons/zankyou-logo.jpeg" alt="zankyou-logo">
                <img src="{{image_defaultpath}}/Icons/indiangramwedding-logo.jpeg" alt="indiangram-wedding-logo">
                <img src="{{image_defaultpath}}/Icons/shaadisaga-logo.png" alt="shaadisaga-logo">
                <img src="{{image_defaultpath}}/Icons/ht-logo.jpeg" alt="hindustan-times-logo">
                <img src="{{image_defaultpath}}/Icons/nbt-logo.jpg" alt="nav-bharat-times-logo">
            </div>
        </div>
    </section>
{%- endblock %}