{% extends "layout.njk" -%}
{% set pageName = "weddings" %}

{% block head -%}
    {% import '../templates/macros/head.njk' as head -%}
    {{head.render(pageName)}}
{%- endblock %}

{% block content -%}
    {% import '../templates/macros/navigation.njk' as nav -%}
    {{nav.active(pageName)}}
    <div class="container">
        <div class="banner-image-5 banner-image"></div>
    </div>
    <div class="testimonial-content">
        <div class="story">
            <div class="frame dainty-leaves">
                <div class="client">
                    <h2 class="client-name">Priyanshi x Prabal</h2>
                    <h3 class="client-date">January 2020</h3>
                </div>
            </div>
            <div class="frame watercolor-palm-leaves">
                <div class="client">
                    <h2 class="client-name">Chhavi x Kshitij</h2>
                    <h3 class="client-date">November 2019</h3>
                </div>
            </div>
            <div class="frame palm-leaves">
                <div class="client">
                    <h2 class="client-name">Rohan x Jasmine</h2>
                    <h3 class="client-date">December 2019</h3>
                </div>
            </div>
            <div class="frame leaves-2">
                <div class="client">
                    <h2 class="client-name">Disha x Nikhil</h2>
                    <h3 class="client-date">September 2019</h3>
                </div>
            </div>
            <div class="frame tropical-leaves">
                <div class="client">
                    <h2 class="client-name">Ishita x Raghav</h2>
                    <h3 class="client-date">September 2018</h3>
                </div>
            </div>
        </div>
    </div>
{%- endblock %}