{% set image_defaultpath = "assets/images" %}

{% macro active(activePage) %}
<section class="before-header">
    <div class="logo-container">
        <div class="tdp-logo">
            <a href="./index.html"><img src="assets/images/Icons/Watermark_TDP_white.png" alt="logo"></a>
        </div>
    </div>
    <nav class="navigation">
        <ul class="menu">
            <li class="menu-items"><a href="./index.html#portfolio" class="menu-link portfolio-icon">Portfolio</a></li>
            {% if activePage == 'home' %}
                <li class="menu-items {% if activePage == 'testimonials' %} active {% endif %}"><a href="./testimonials.html" class="menu-link testimonials-icon">Testimonials</a></li>
                <li class="menu-items {% if activePage == 'team' %} active {% endif %}"><a href="./team.html" class="menu-link team-icon">Our Team</a></li>
            {% endif %}
            <li class="menu-items"><a href="./index.html#contact-us" class="menu-link contact-icon">Contact Us</a></li>
        </ul>
    </nav>
    <i id="menu-icon" class="material-icons menu-icon">menu</i>
    <nav id="mobile-nav" class="mobile-nav visually-hidden">
        <ul class="mobile-menu">
            <li class="menu-items">
                <a href="./index.html#portfolio" class="menu-link">Portfolio</a>
            </li><li class="menu-items">
                <a href="./testimonials.html" class="menu-link">Testimonials</a>
            </li><li class="menu-items">
                <a href="./team.html" class="menu-link">Our Team</a>
            </li><li class="menu-items">
                <a href="./index.html#contact-us" class="menu-link">Contact Us</a>
            </li>
        </ul>
        <i id="close-icon" class="material-icons close-icon">close</i>
    </nav>
</section>
{% endmacro %}