/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonts */
@font-face {
  font-family: "ostrich-sans";
  src: url("../../assets/fonts/ostrich-sans/OstrichSans-Black.otf")
      format("otf"),
    url("../../assets/fonts/ostrich-sans/OstrichSans-Heavy.otf") format("otf"),
    url("../../assets/fonts/ostrich-sans/OstrichSans-Light.otf") format("otf"),
    url("../../assets/fonts/ostrich-sans/OstrichSans-Medium.otf") format("otf"),
    url("../../assets/fonts/ostrich-sans/OstrichSansRounded-Medium.otf")
      format("otf"),
    url("../../assets/fonts/ostrich-sans/ostrich-regular.ttf")
      format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "gotu";
  src: url("../../assets/fonts/gotu/Gotu-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"),
    url(https://example.com/MaterialIcons-Regular.woff) format("woff"),
    url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
}

/* Body */
body {
  font-family: "ostrich-sans", "gotu", "FS Joey Web Light",
    "FS Joey Web Regular", sans-serif;
}

/* Anchor */
a {
  text-decoration: none;
}

/* Heading */
h1 {
  /* font-family: 'ostrich-sans'; */
  font-weight: normal;
  font-size: 55px;
  margin: 30px;
  letter-spacing: 1px;
}
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 45px;
  }
}

h2 {
  font-weight: lighter;
  font-size: 35px;
  margin: 25px;
  margin: 30px;
  letter-spacing: 2px;
}
@media only screen and (max-width: 600px) {
  h2 {
    font-size: 25px;
  }
}

h3 {
  font-weight: lighter;
  font-size: 25px;
  margin: 20px;
  letter-spacing: 3px;
}
@media only screen and (max-width: 600px) {
  h3 {
    font-size: 20px;
  }
}

p {
  margin: 10px 0px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  opacity: 0.7;
}

.active {
  line-height: 25px;
  border-bottom: solid white 1px;
}

.hide {
  display: none;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

/* Navigation */
nav {
  display: flex;
  flex-direction: row;
  position: absolute;
  z-index: 99;
  padding: 20px 15px;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}
@media only screen and (max-width: 400px) {
  nav {
    padding: 10px;
  }
}

div.tdp-logo {
  width: 6%;
  height: auto;
  background-color: black;
  display: flex;
  align-items: center;
  margin: 12px;
  border: solid white 1px;
}
@media only screen and (min-width: 700px) and (max-width: 900px) {
  div.tdp-logo {
    width: 8%;
    margin: 10px;
  }
}
@media only screen and (min-width: 500px) and (max-width: 700px) {
  div.tdp-logo {
    width: 10%;
    margin: 10px;
  }
}
@media only screen and (max-width: 500px) {
  div.tdp-logo {
    width: 12%;
    margin: 8px;
  }
}

nav img {
  width: 100%;
}

ul.menu {
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

li.menu-items {
  height: auto;
  list-style: none;
  text-align: center;
  font-size: 22px;
}
@media only screen and (min-width: 600px) and (max-width: 900px) {
  li.menu-items {
    font-size: 18px;
    margin-right: 10px;
  }
}
@media only screen and (min-width: 400px) and (max-width: 600px) {
  li.menu-items {
    font-size: 16px;
    margin-right: 8px;
  }
}
@media only screen and (max-width: 400px) {
  li.menu-items {
    font-size: 14px;
    margin-right: 6px;
  }
}

a.menu-link {
  letter-spacing: 1px;
  color: white;
}

/* .portfolio-icon::before {
  font-family: "Material Icons";
  content: "collections";
  color: white;
  padding-right: 10px;
  position: relative;
  top: 4px;
}

.testimonials-icon::before {
  font-family: "Material Icons";
  content: "rate_review";
  color: white;
  padding-right: 10px;
  position: relative;
  top: 4px;
}

.team-icon::before {
  font-family: "Material Icons";
  content: "people";
  color: white;
  padding-right: 10px;
  position: relative;
  top: 4px;
}

.contact-icon::before {
  font-family: "Material Icons";
  content: "contact_support";
  color: white;
  padding-right: 10px;
  position: relative;
  top: 4px;
} */

.call-icon::before {
  font-family: "Material Icons";
  content: "phone";
  color: black;
  padding-right: 8px;
  position: relative;
  top: 3px;
}

/* Header */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (max-width: 600px) {
  header {
    justify-content: flex-start;
  }
}

.header {
  z-index: 1;
  position: absolute;
  background-color: whitesmoke;
  width: 15%;
  opacity: 0.8;
  padding: 0px 50px;
}
@media only screen and (min-width: 900px) and (max-width: 1100px) {
  .header {
    padding: 0px 40px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 900px) {
  .header {
    padding: 0px 30px;
  }
}
@media only screen and (max-width: 600px) {
  .header {
    width: 20%;
    padding: 0px 20px;
    margin-top: 40px;
  }
}
.header .logo img {
  width: 100%;
}

/* Banner Image */
.banner-image {
  min-height: 550px !important;
}
@media only screen and (mim-width: 600px) and (max-width: 900px) {
  .banner-image {
    min-height: 450px !important;
  }
}
@media only screen and (max-width: 600px) {
  .banner-image {
    min-height: 350px !important;
  }
}

.banner-image-1,
.banner-image-2,
.banner-image-3,
.banner-image-4,
.banner-image-jasmine,
.banner-image-ridhima,
.banner-image-rohan {
  min-height: 730px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-image-1 {
  background-image: url(../../assets/images/Banners/Banner1.jpg);
}
@media only screen and (min-width: 1081px) and (max-width: 1440px) {
  .banner-image-1 {
    background-image: url(../../assets/images/Banners/Banner1-1440.jpg);
  }
}
@media only screen and (min-width: 721px) and (max-width: 1080px) {
  .banner-image-1 {
    background-image: url(../../assets/images/Banners/Banner1-1080.jpg);
  }
}
@media only screen and (min-width: 481px) and (max-width: 720px) {
  .banner-image-1 {
    background-image: url(../../assets/images/Banners/Banner1-720.jpg);
  }
}
@media only screen and (max-width: 480px) {
  .banner-image-1 {
    background-image: url(../../assets/images/Banners/Banner1-480.jpg);
  }
}

.banner-image-2 {
  background-image: url(../../assets/images/Banners/Banner2.jpg);
}
@media only screen and (min-width: 1081px) and (max-width: 1440px) {
  .banner-image-2 {
    background-image: url(../../assets/images/Banners/Banner2-1440.jpg);
  }
}
@media only screen and (min-width: 721px) and (max-width: 1080px) {
  .banner-image-2 {
    background-image: url(../../assets/images/Banners/Banner2-1080.jpg);
  }
}
@media only screen and (min-width: 481px) and (max-width: 720px) {
  .banner-image-2 {
    background-image: url(../../assets/images/Banners/Banner2-720.jpg);
  }
}
@media only screen and (max-width: 480px) {
  .banner-image-2 {
    background-image: url(../../assets/images/Banners/Banner2-480.jpg);
  }
}

.banner-image-3 {
  background-image: url(../../assets/images/Disha-Sanchit/Wedding-1.jpg);
}
@media only screen and (min-width: 1081px) and (max-width: 1440px) {
  .banner-image-3 {
    background-image: url(../../assets/images/Disha-Sanchit/Wedding-1-1440.jpg);
  }
}
@media only screen and (min-width: 721px) and (max-width: 1080px) {
  .banner-image-3 {
    background-image: url(../../assets/images/Disha-Sanchit/Wedding-1-1080.jpg);
  }
}
@media only screen and (min-width: 481px) and (max-width: 720px) {
  .banner-image-3 {
    background-image: url(../../assets/images/Disha-Sanchit/Wedding-1-720.jpg);
  }
}
@media only screen and (max-width: 480px) {
  .banner-image-3 {
    background-image: url(../../assets/images/Disha-Sanchit/Wedding-1-480.jpg);
  }
}

.banner-image-4 {
  background-image: url(../../assets/images/Banners/Banner5.jpg);
}
@media only screen and (min-width: 1081px) and (max-width: 1440px) {
  .banner-image-4 {
    background-image: url(../../assets/images/Banners/Banner5-1440.jpg);
  }
}
@media only screen and (min-width: 721px) and (max-width: 1080px) {
  .banner-image-4 {
    background-image: url(../../assets/images/Banners/Banner5-1080.jpg);
  }
}
@media only screen and (min-width: 481px) and (max-width: 720px) {
  .banner-image-4 {
    background-image: url(../../assets/images/Banners/Banner5-720.jpg);
  }
}
@media only screen and (max-width: 480px) {
  .banner-image-4 {
    background-image: url(../../assets/images/Banners/Banner5-480.jpg);
  }
}

.banner-image-jasmine {
  background-image: url(../../assets/images/Banners/jasmine-getting-ready.jpg);
}
@media only screen and (min-width: 1081px) and (max-width: 1440px) {
  .banner-image-jasmine {
    background-image: url(../../assets/images/Banners/jasmine-getting-ready-1440.jpg);
  }
}
@media only screen and (min-width: 721px) and (max-width: 1080px) {
  .banner-image-jasmine {
    background-image: url(../../assets/images/Banners/jasmine-getting-ready-1080.jpg);
  }
}
@media only screen and (min-width: 481px) and (max-width: 720px) {
  .banner-image-jasmine {
    background-image: url(../../assets/images/Banners/jasmine-getting-ready-720.jpg);
  }
}
@media only screen and (max-width: 480px) {
  .banner-image-jasmine {
    background-image: url(../../assets/images/Banners/jasmine-getting-ready-480.jpg);
  }
}

.banner-image-ridhima {
  background-image: url(../../assets/images/Banners/ridhima-getting-ready.jpg);
}
@media only screen and (min-width: 1081px) and (max-width: 1440px) {
  .banner-image-ridhima {
    background-image: url(../../assets/images/Banners/ridhima-getting-ready-1440.jpg);
  }
}
@media only screen and (min-width: 721px) and (max-width: 1080px) {
  .banner-image-ridhima {
    background-image: url(../../assets/images/Banners/ridhima-getting-ready-1080.jpg);
  }
}
@media only screen and (min-width: 481px) and (max-width: 720px) {
  .banner-image-ridhima {
    background-image: url(../../assets/images/Banners/ridhima-getting-ready-720.jpg);
  }
}
@media only screen and (max-width: 480px) {
  .banner-image-ridhima {
    background-image: url(../../assets/images/Banners/ridhima-getting-ready-480.jpg);
  }
}

.banner-image-rohan {
  background-image: url(../../assets/images/Banners/rohan-cocktail.jpg);
}
@media only screen and (min-width: 1081px) and (max-width: 1440px) {
  .banner-image-rohan {
    background-image: url(../../assets/images/Banners/rohan-cocktail-1440.jpg);
  }
}
@media only screen and (min-width: 721px) and (max-width: 1080px) {
  .banner-image-rohan {
    background-image: url(../../assets/images/Banners/rohan-cocktail-1080.jpg);
  }
}
@media only screen and (min-width: 481px) and (max-width: 720px) {
  .banner-image-rohan {
    background-image: url(../../assets/images/Banners/rohan-cocktail-720.jpg);
  }
}
@media only screen and (max-width: 480px) {
  .banner-image-rohan {
    background-image: url(../../assets/images/Banners/rohan-cocktail-480.jpg);
  }
}

hr {
  width: 80px;
  margin-bottom: 40px;
  align-self: center;
}

.gallery-title {
  display: flex;
  flex-flow: column;
  text-align: center;
  padding: 20px 0px 0px 0px;
}

.visually-hidden {
  display: none !important;
}

.loading-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 600px;
}
@media only screen and (max-width: 500px) {
  .loading-images {
    min-height: 400px;
  }
}

.loading-images img {
  width: 50%;
  height: auto;
}
@media only screen and (min-width: 500px) and (max-width: 700px) {
  .loading-images img {
    width: 70%;
    height: auto;
  }
}
@media only screen and (max-width: 500px) {
  .loading-images img {
    width: 100%;
    height: auto;
  }
}

/* Header */
.container {
  display: flex;
  flex-direction: column;
}

.header-content {
  position: absolute;
  color: whitesmoke;
  align-self: center;
  padding: 225px 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
@media only screen and (max-width: 500px) {
  .header-content {
    padding: 150px 40px;
  }
}

.image-content {
  text-align: start !important;
  width: 80%;
  padding: 300px 40px 0px 20px !important;
  align-self: start !important;
}
@media only screen and (max-width: 600px) {
  .image-content {
    width: 100%;
  }
}

.header-content .title {
  font-size: 85px;
  letter-spacing: 2px;
}
@media only screen and (min-width: 500px) and (max-width: 700px) {
  .header-content .title {
    font-size: 70px;
  }
}
@media only screen and (max-width: 500px) {
  .header-content .title {
    font-size: 60px;
  }
}

.header-content .subtitle {
  margin: 0px;
  font-size: 40px;
  font-family: "gotu";
  font-weight: lighter;
  letter-spacing: 2px;
}
@media only screen and (min-width: 500px) and (max-width: 700px) {
  .header-content .subtitle {
    font-size: 35px;
  }
}
@media only screen and (max-width: 500px) {
  .header-content .subtitle {
    font-size: 25px;
  }
}

.image-content .subtitle {
  font-size: 35px !important;
}
@media only screen and (max-width: 700px) {
  .image-content .subtitle {
    font-size: 25px !important;
  }
}

.header-content .caption {
  margin: 10px 0px;
  font-size: 22px;
  font-family: "gotu";
  font-weight: lighter;
  letter-spacing: 1px;
}
@media only screen and (min-width: 500px) and (max-width: 700px) {
  .header-content .caption {
    font-size: 17px;
  }
}
@media only screen and (max-width: 500px) {
  .header-content .caption {
    font-size: 13px;
  }
}

/* Section */
section.intro {
  text-align: center;
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  background-color: gainsboro;
  padding: 60px;
}
@media only screen and (min-width: 700px) and (max-width: 900px) {
  section.intro {
    padding: 40px;
  }
}
@media only screen and (min-width: 500px) and (max-width: 700px) {
  section.intro {
    padding: 30px;
    flex-direction: column-reverse;
  }
}
@media only screen and (max-width: 500px) {
  section.intro {
    padding: 30px 0px;
    flex-direction: column-reverse;
  }
}

section.intro h1 {
  font-family: inherit;
  margin: 20px 0px;
}

section.intro p {
  margin: 0 0 10px 0;
  padding: 0 50px;
  font-size: 15px;
  color: #403f3f;
  line-height: 1.5;
  font-family: "quicksand";
  text-align: center;
}
@media only screen and (max-width: 900px) {
  section.intro p {
    font-size: 13px;
  }
}

section.intro div.content {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 45px 0px;
  background-color: white;
}
@media only screen and (max-width: 700px) {
  section.intro div.content {
    width: 100%;
  }
}

section.intro img {
  object-fit: cover;
  width: 50%;
  max-height: 550px;
}
@media only screen and (max-width: 700px) {
  section.intro img {
    margin-bottom: -40px;
    align-self: center;
    height: 220px;
  }
}

section.galleries {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  padding: 30px 90px 30px 90px;
}
@media only screen and (min-width: 600px) and (max-width: 900px) {
  section.galleries {
    padding: 15px 30px 15px 30px;
  }
}
@media only screen and (max-width: 600px) {
  section.galleries {
    padding: 20px;
    flex-flow: wrap;
  }
}

section.galleries .gallery h3 {
  color: white;
}

section.galleries .gallery {
  background-color: #505050;
  margin: 0px 10px 40px 10px;
  text-align: center;
  width: 100%;
}

section.galleries .gallery .images img:hover {
  opacity: 0.8;
  cursor: crosshair;
}

section.galleries .gallery .images img {
  width: 100%;
  height: 100%;
}

/* Gallery Grid */
section.grid {
  padding: 0px 8px 8px 8px;
}

.grid .gallery {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(11, 5vw);
  grid-gap: 8px;
  margin-top: 8px;
}

.grid img,
.testimonial img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid img:hover {
  opacity: 0.8;
  cursor: crosshair;
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 6;
}

.gallery__item--2 {
  grid-column-start: 7;
  grid-column-end: 12;
  grid-row-start: 1;
  grid-row-end: 5;
}

.gallery__item--3 {
  grid-column-start: 12;
  grid-column-end: 17;
  grid-row-start: 1;
  grid-row-end: 8;
}

.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 6;
  grid-row-end: 12;
}

.gallery__item--5 {
  grid-column-start: 7;
  grid-column-end: 12;
  grid-row-start: 5;
  grid-row-end: 12;
}

.gallery__item--6 {
  grid-column-start: 12;
  grid-column-end: 17;
  grid-row-start: 8;
  grid-row-end: 12;
}

/* Section separation image */
.section-separation-image {
  min-height: 500px;
}

/* Contact Us Form */
.contact-us-title {
  display: flex;
  flex-flow: column;
  text-align: center;
  padding: 20px 0px 0px 0px;
}

section.contact-us {
  display: flex;
  flex-direction: row;
}

.call-us-text {
  background-color: whitesmoke;
  color: black;
  text-align: center;
  align-self: center;
  padding: 20px;
  font-family: gotu;
  font-size: 13px;
  line-height: 2em;
  width: 100%;
}
@media only screen and (min-width: 650px) and (max-width: 800px) {
  .call-us-text {
    font-size: 13px;
    width: 90%;
  }
}
@media only screen and (min-width: 400px) and (max-width: 650px) {
  .call-us-text {
    font-size: 13px;
    width: 100%;
  }
}
@media only screen and (max-width: 400px) {
  .call-us-text {
    font-size: 12px;
    width: 100%;
  }
}

.call-us-text a,
.call-us-text span {
  margin: 10px;
  display: inline-block;
}

.contact-us-form {
  width: 50%;
  padding: 0px 40px 40px 40px;
}
@media only screen and (min-width: 500px) and (max-width: 800px) {
  .contact-us-form {
    width: 100%;
    padding: 0px 80px 40px 80px;
  }
}
@media only screen and (max-width: 500px) {
  .contact-us-form {
    width: 100%;
    padding: 0px 40px 40px 40px;
  }
}

form {
  display: flex;
  flex-direction: column;
}

form div.input-field {
  margin: 10px 0px;
  flex-direction: column;
  display: flex;
  text-align: left;
}

form label {
  font-size: 15px;
  font-family: "gotu";
  opacity: 0.7;
}

form input {
  font-family: "gotu";
  font-size: 13px;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 5px;
  border-width: 1px;
  background-color: transparent;
  box-sizing: border-box !important;
  color: #000000;
  border-style: solid;
  border-color: rgba(145, 145, 145, 1);
  padding: 3px;
  margin: 10px 0px;
  max-width: 100%;
  text-overflow: ellipsis;
  padding: 10px;
  display: block;
  width: 70%;
}

form select {
  font-family: "gotu";
  font-size: 13px;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 1);
  color: #000000;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(145, 145, 145, 1);
  margin: 10px 0px;
  padding: 0 45px;
  cursor: pointer;
  position: relative;
  max-width: 100%;
  min-height: 10px;
  height: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  width: 70%;
  padding: 10px;
}

.dropdown {
  position: relative;
}

.dropdown::after {
  content: "";
  position: absolute;
  left: 65%;
  top: 65%;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #333;
}
@media only screen and (max-width: 500px) {
  .dropdown::after {
    top: 62%;
    left: 62%;
  }
}

form textarea {
  min-height: 150px;
  padding: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: "gotu";
  font-size: 13px;
  border-width: 1px;
  border-radius: 5px;
  border-color: rgba(145, 145, 145, 1);
  resize: none;
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box !important;
  color: #000000;
  border-style: solid;
  border-color: rgba(145, 145, 145, 1);
  margin: 10px 0px;
  padding-top: 0.75em;
  max-width: 100%;
  min-width: 100%;
  overflow-y: auto;
  display: block;
  width: 70%;
}

form p.caption {
  margin: 0px 0px 10px 0px;
  font-family: "gotu";
  font-size: 10px;
}

form button {
  padding: 12px 50px;
  color: white;
  background-color: rgb(46, 79, 79);
  border: solid rgba(255, 255, 255, 1) 1px;
  cursor: pointer !important;
  text-align: center;
  border-radius: 20px;
  max-width: fit-content;
  transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
}

.contact-us-image {
  width: 50%;
}
@media only screen and (max-width: 800px) {
  .contact-us-image {
    display: none;
  }
}

.contact-us-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media only screen and (max-width: 800px) {
  .contact-us-image img {
    display: none;
  }
}

/* Section Before Footer */
section.before-footer {
  display: flex;
  flex-direction: row;
  background-color: darkslategray;
  color: whitesmoke;
}

section.before-footer .menu {
  width: 40%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-right: 1px whitesmoke solid;
}

section.before-footer .menu a {
  font-family: "ostrich-sans";
  font-size: 19px;
  font-weight: normal;
  letter-spacing: 2px;
  color: whitesmoke;
  line-height: 2.5;
  border-bottom: 1px whitesmoke dotted;
  width: 30%;
}
@media only screen and (min-width: 540px) and (max-width: 600px) {
  section.before-footer .menu a {
    font-size: 16px;
    width: 40%;
    line-height: 2.2;
    letter-spacing: 1px;
  }
}
@media only screen and (max-width: 540px) {
  section.before-footer .menu a {
    font-size: 16px;
    width: 40%;
    line-height: 2.2;
    letter-spacing: 1px;
  }
}

section.before-footer .features {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.features .logos {
  flex-direction: row;
  text-align: center;
  justify-content: space-evenly;
  padding: 0px 0px 10px 0px;
  max-width: 90%;
  margin-right: 10px;
}
@media only screen and (max-width: 500px) {
  .features .logos {
    max-width: 100%;
  }
}

.features .logos img {
  width: 8%;
  height: auto;
  margin-left: 15px;
  margin-bottom: 15px;
  border-radius: 50%;
}
@media only screen and (min-width: 800px) and (max-width: 1100px) {
  .features .logos img {
    width: 10%;
    margin-left: 12px;
    margin-bottom: 12px;
  }
}
@media only screen and (max-width: 800px) {
  .features .logos img {
    width: 15%;
    margin-left: 10px;
    margin-bottom: 10px;
  }
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer .social-media-icons {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

footer .social-media-icons a {
  margin-right: 10px;
}

footer .social-media-icons img {
  height: 40px;
  width: 40px;
}
@media only screen and (max-width: 600px) {
  footer .social-media-icons img {
    height: 35px;
    width: 35px;
  }
}

footer .social-media-icons img.email-icon {
  height: 30px;
  width: 30px;
  margin-top: 5px;
  margin-left: 4px;
}
@media only screen and (max-width: 600px) {
  footer .social-media-icons img.email-icon {
    height: 27px;
    width: 27px;
  }
}

footer .copyright {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: block;
  border-top: darkgrey 1px solid;
  font-family: "quicksand";
  font-size: 16px;
  padding-top: 15px;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  footer .copyright {
    font-size: 13px;
  }
}

/* ALERT RELATED CLASS (START) */

.alert-area {
  max-height: 100%;
  position: relative;
  width: 100%;
  margin: 20px 0px;
}
@media only screen and (max-width: 800px) {
  .alert-area {
    width: 70%;
  }
}

.alert-box {
  color: white;
  background: rgba(0, 0, 0, 0.9);
  line-height: 1.3em;
  padding: 10px 15px;
  position: relative;
  border-radius: 5px;
  transition: opacity 0.5s ease-in;
  font-family: "guto";
  font-size: 16px;
  text-align: center;
}

.alert-box.hide {
  opacity: 0;
}

.alert-close {
  background: transparent;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 15px;
  right: 15px;
}

.alert-close:before,
.alert-close:after {
  content: "";
  width: 15px;
  border-top: solid 2px white;
  position: absolute;
  top: 5px;
  right: -1px;
  display: block;
}

.alert-close:before {
  transform: rotate(45deg);
}

.alert-close:after {
  transform: rotate(135deg);
}

.alert-close:hover:before,
.alert-close:hover:after {
  border-top: solid 2px #d8d8d8;
}

/* ALERT RELATED CLASS (END) */

/* TESTIMONIAL COMPONENT CLASS (START) */

.testimonial-header {
  display: flex;
  flex-direction: row;
  background-color: whitesmoke;
  margin: 30px 90px 30px 90px;
}
@media only screen and (min-width: 900px) and (max-width: 1100px) {
  .testimonial-header {
    flex-direction: row;
    margin: 25px 70px 25px 70px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 900px) {
  .testimonial-header {
    flex-direction: row;
    margin: 20px 40px 20px 40px;
  }
}
@media only screen and (max-width: 600px) {
  .testimonial-header {
    flex-direction: column;
    margin: 15px 30px 15px 30px;
  }
}

.testimonial .header-content {
  background-color: white;
  opacity: 0.9;
  color: black;
  padding: 10px;
}

.feedback hr {
  margin: 0px;
  align-self: flex-start;
}

.client-name {
  margin: 0px 0px 10px 0px;
  font-size: 23px;
  letter-spacing: 0px;
}
@media only screen and (max-width: 400px) {
  .client-name {
    font-size: 18px;
  }
}

.client-date {
  font-size: 15px;
  letter-spacing: 0px;
  margin: 0px 0px 10px 0px;
}
@media only screen and (max-width: 400px) {
  .client-date {
    font-size: 13px;
  }
}

.testimonial {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
  .testimonial {
    width: 40%;
  }
}
@media only screen and (max-width: 600px) {
  .testimonial {
    width: 100%;
  }
}

.feedback {
  width: 70%;
  text-align: justify;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 35px;
  font-family: gotu;
  line-height: 26px;
  font-size: 14px;
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
  .feedback {
    width: 60%;
    padding: 20px 30px;
    line-height: 24px;
    font-size: 13px;
  }
}
@media only screen and (min-width: 400px) and (max-width: 600px) {
  .feedback {
    width: 100%;
    padding: 20px 30px;
    line-height: 22px;
    font-size: 13px;
  }
}
@media only screen and (max-width: 400px) {
  .feedback {
    width: 100%;
    padding: 15px 25px;
    line-height: 22px;
    font-size: 12px;
  }
}

.reverse-direction {
  flex-direction: row-reverse;
}
@media only screen and (max-width: 600px) {
  .reverse-direction {
    flex-direction: column;
  }
}

/* TESTIMONIAL COMPONENT CLASS (END) */

/* TEAM or ABOUT US CLASS (START) */

.about-us-content {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  color: black;
  padding: 40px;
  align-items: center;
  text-align: center;
}

p.about-us {
  font-family: gotu;
  line-height: 26px;
  font-size: 14px;
  text-align: justify;
  display: flex;
  max-width: 750px;
  justify-content: center;
}

.team {
  padding: 50px 0px;
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.pictures {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  flex-direction: row;
  flex-flow: wrap;
}
@media only screen and (max-width: 400px) {
  .pictures {
    padding-top: 30px;
    flex-direction: column;
    align-items: center;
  }
}

.member {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px 30px;
  align-items: center;
}

.member img {
  width: 160px;
  height: 240px;
}

p.member-name {
  font-family: gotu;
  font-size: 13px;
  padding-top: 10px;
  letter-spacing: 0px;
}

p.member-title {
  letter-spacing: 1px;
  margin-top: 0px;
  width: 70%;
}

/* TEAM or ABOUT US CLASS (END) */

/* SERVICE WORKER NOTIFICATION CLASS (START) */

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 99;
  left: 50%;
  bottom: 30px;
  letter-spacing: 1px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s;
  animation: fadein 0.5s;
}

a#reload {
  color: gold;
  margin-left: 10px;
  font-weight: bold;
}

a#reload::after {
  font-family: "Material Icons";
  content: "refresh";
  top: 3px;
  position: relative;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

/* SERVICE WORKER NOTIFICATION CLASS (START) */
