<footer>
    <div class="social-media-icons">
        <a href="https://www.facebook.com/thedewdropproject/" target="_blank" rel="noreferrer">
            <img class="facebook-icon" src="../Gallery/Icons/facebook.png" alt="facebook icon">
        </a>
        <a href="https://www.instagram.com/thedewdropproject/" target="_blank" rel="noreferrer">
            <img class="insta-icon" src="../Gallery/Icons/instagram.png" alt="instagram icon">
        </a>
        <a href="mailto:thedewdropproject@gmail.com" target="_blank" rel="noreferrer">
            <img class="email-icon" src="../Gallery/Icons/email.png" alt="email icon">
        </a>
    </div>
    <div class="copyright">
        &copy; 2020. All rights reserved.
    </div>
</footer>