<nav class="navigation">
    <ul class="menu">
        <li class="menu-items"><a href="#portfolio" class="menu-link">Portfolio</a></li>
        <li class="menu-items"><a href="./testimonials.html" class="menu-link">Testimonials</a></li>
        <li class="menu-items"><a href="./team.html" class="menu-link">Team</a></li>
        <li class="menu-items"><a href="#contact-us" class="menu-link">Contact</a></li>
    </ul>
</nav>